* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  display: block;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding-bottom: 5em;
  background: #0f0f0f;
}

header {
  background: rgb(27, 26, 32);
  color: white;
}
header nav {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo ac-button" "menu menu" "user user";
  box-shadow: 0 3px 10px rgba(116, 116, 116, 0.2);
}
header .logo-container {
  grid-area: logo;
  justify-self: baseline;
  margin: 0.5em;
}
header .menu-container {
  grid-area: menu;
  color: #afafaf;
  background: #1f1f1f;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
header .menu-container ul li {
  display: block;
  padding: 1em;
  cursor: pointer;
  font-weight: 600;
}
header .menu-container ul li.active {
  color: #4ba9ff;
}
header .menu-container ul li:hover {
  background: #4ba9ff;
  color: black;
}
header .user-menu-container {
  grid-area: user;
  border-top: 1px solid #a5a5a5;
  transition: 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
header .user-menu-container a {
  display: block;
  padding: 1em;
}
header .user-menu-container a:hover {
  background: #4ba9ff;
  color: black;
}
header .accordion-button {
  margin: 0.5em;
  grid-area: ac-button;
  align-self: center;
  justify-self: end;
  cursor: pointer;
}
header .accordion-button span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: rgb(214, 214, 214);
  margin: 6px 0;
}
header .outer-coins {
  display: none;
  z-index: 3;
  position: absolute;
  width: 100%;
}
header.active .user-menu-container,
header.active .menu-container {
  max-height: 100vh;
}

.banner-container {
  position: relative;
  z-index: 1;
  background: #e8bb00;
  padding-bottom: 1em;
  border-bottom: 0.3em solid #882d00;
}
.banner-container img {
  position: absolute;
}
.banner-container img.coins {
  width: 100%;
  z-index: 1;
}
.banner-container img.hero {
  width: 47%;
  right: 0;
  bottom: 0;
}
.banner-container img.border {
  object-fit: cover;
  width: 100%;
  position: static;
}
.banner-container p {
  position: absolute;
  bottom: 4.5em;
  left: 6em;
  max-width: 28%;
  font-size: 3.2vw;
  font-weight: bold;
}
.banner-container p span {
  color: #4ba9ff;
  display: block;
}

article {
  color: white;
  padding: 1em 2em;
}
article h1 {
  font-size: 2em;
}
article p {
  line-height: 1.5em;
}
article.pagcor-license .content {
  display: grid;
  grid-template-areas: "preview-img preview-title" "preview-content preview-content";
  grid-template-columns: auto 1fr;
  text-align: left;
}
article.pagcor-license .content img {
  grid-area: preview-img;
  width: 12em;
}
article.pagcor-license .content h2 {
  grid-area: preview-title;
  align-self: center;
  padding: 0 1em;
}
article.pagcor-license .content p {
  grid-area: preview-content;
}
article.live-casino {
  display: grid;
  padding: 1em 0;
}
article.live-casino .content {
  padding: 0 12em 0 2em;
}
article.live-casino > img {
  width: 12em;
  justify-self: end;
  position: absolute;
}
article.layout {
  text-align: left;
  background: #252525;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 3em;
}
article.layout .content {
  display: grid;
}
article.layout .content img {
  grid-area: preview-img;
  width: 12em;
}
article.layout .content .casino-slot-image {
  grid-area: preview-img;
  height: 6em;
  overflow: hidden;
}
article.layout .content .casino-slot-image img {
  margin-top: -4em;
}
article.layout .content h2 {
  grid-area: preview-title;
  align-self: center;
  padding: 0 1em;
  color: #fe41c1;
}
article.layout .content p {
  grid-area: preview-content;
}
article.layout .content .how-to-play {
  grid-area: preview-button;
  display: inline;
  padding: 0.5em 1em;
  border: 0.15em solid #4ba9ff;
  border-radius: 0.7em;
  width: 10em;
  text-align: center;
  align-self: center;
}
article.layout.right::before {
  content: "";
  display: block;
  width: 0.5em;
  height: 33em;
  border-radius: 0.3em;
  margin-right: 2em;
  box-shadow: 0 0 5px #fe41c1, 0 0 25px #fe41c1, 0 0 50px #fe41c1, 0 0 100px #fe41c1;
  background: white;
  align-self: center;
}
article.layout.right .content {
  grid-template-areas: "preview-title preview-img" "preview-content preview-content" "preview-button preview-button";
  grid-template-columns: 1fr auto;
}
article.layout.right .content h2 {
  padding: 0;
}
article.layout.left::after {
  content: "";
  display: block;
  width: 0.5em;
  height: 33em;
  border-radius: 0.3em;
  margin-left: 2em;
  box-shadow: 0 0 5px #fe41c1, 0 0 25px #fe41c1, 0 0 50px #fe41c1, 0 0 100px #fe41c1;
  background: white;
  align-self: center;
}
article.layout.left .content {
  grid-template-areas: "preview-img preview-title" "preview-content preview-content" "preview-button preview-button";
  grid-template-columns: auto 1fr;
}
article.layout.left .content h2 {
  padding-left: 1em;
}

.slider-container.live-casino-slider {
  display: grid;
}
.slider-container.live-casino-slider .slick-dots {
  position: static;
}
.slider-container.sports-betting-slider {
  border-radius: 2.5em;
  border: 0.175em solid white;
  box-shadow: 0 0 3px #fe41c1, 0 0 6px #fe41c1, 0 0 9px #fe41c1, 0 0 12px #fe41c1;
}

.slider-container {
  margin-top: 5em;
  background: #252525;
  padding: 1em 2em;
}
.slider-container .slick-dots {
  bottom: -2.5em;
  left: 0;
}
.slider-container .slick-dots li {
  background: #d9d9d9;
  width: 2.5em;
  height: 0.3em;
  border-radius: 1em;
}
.slider-container .slick-dots li.slick-active {
  background: #fe41c1;
}
.slider-container .slick-dots li button {
  display: none;
}

@media only screen and (min-width: 768px) {
  header nav {
    grid-template-columns: auto auto;
    grid-template-areas: "logo user" "menu menu";
  }
  header .logo-container {
    justify-self: baseline;
  }
  header .menu-container {
    max-height: none;
    text-align: center;
  }
  header .menu-container ul li {
    display: inline-block;
    padding: 1em;
  }
  header .menu-container ul li:hover {
    color: #4ba9ff;
    background: none;
  }
  header .user-menu-container {
    max-height: none;
    border: none;
    justify-self: end;
    align-self: center;
  }
  header .user-menu-container a {
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    border: 0.175em solid white;
    margin: 0 0.5em;
    min-width: 5.5em;
    text-align: center;
  }
  header .user-menu-container a.active {
    background: #4ba9ff;
    color: black;
    border-color: #4ba9ff;
  }
  header .accordion-button {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    display: grid;
  }
  header .banner-container {
    margin-top: -7em;
  }
  article .content h2 {
    font-size: 2em;
  }
  article .content p {
    font-size: 1.2em;
  }
  article.pagcor-license .content {
    grid-template-areas: "preview-img preview-title" "preview-img preview-content";
  }
  article.pagcor-license .content img {
    width: 24em;
    align-self: center;
  }
  article.pagcor-license .content h2 {
    align-self: auto;
    padding: 0;
  }
  article.live-casino > img {
    width: 18em;
    z-index: 2;
    margin-top: 3em;
  }
  article.live-casino .content {
    padding: 0 21em 0 1em;
  }
  article.live-casino .slider-container {
    padding-right: 20em;
  }
  article.layout {
    padding: 1em 0em;
    background: none;
  }
  article.layout .content img {
    width: 50vw;
    align-self: center;
  }
  article.layout.right::before {
    margin-left: 2em;
    margin-right: auto;
    position: absolute;
  }
  article.layout.right .content {
    background: #252525;
    padding: 2em 4em;
    width: 75vw;
    border-radius: 0 3em 3em 0em;
    grid-template-areas: "preview-title preview-img" "preview-content preview-img" "preview-button preview-img";
    grid-template-columns: auto 10em;
  }
  article.layout.right .content .casino-slot-image {
    height: auto;
    overflow: unset;
    align-self: center;
  }
  article.layout.right .content .casino-slot-image img {
    margin: 0;
  }
  article.layout.left::after {
    margin-left: auto;
    margin-right: 2em;
    position: absolute;
    right: 0;
  }
  article.layout.left .content {
    background: #252525;
    padding: 2em 4em;
    width: 75vw;
    border-radius: 3em 0 0 3em;
    grid-template-areas: "preview-img preview-title" "preview-img preview-content" "preview-img preview-button";
    grid-template-columns: 10em auto;
    justify-self: end;
  }
  article.layout.left .content img {
    margin-right: 5em;
    width: 45vw;
    align-self: center;
    justify-self: end;
  }
  article .sports-betting {
    padding: 0 7em;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    max-width: 94em;
    margin: 0 auto;
  }
  header nav {
    background: #1f1f1f;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo menu user";
    width: 90%;
    margin: 2.5em auto 0;
    padding: 0.8em;
    border-radius: 2.2em;
  }
  header .menu-container {
    align-self: center;
  }
  header .menu-container ul li {
    padding: 1em 0.6em;
  }
  header .banner-container {
    margin-top: -10.5em;
  }
  header .banner-container p {
    bottom: 3.8em;
    max-width: 31%;
    font-size: 3.4vw;
  }
  header .banner-container .coins {
    display: none;
  }
  header .outer-coins {
    display: block;
    max-width: 94em;
  }
  article.layout .content img {
    width: 50vw;
  }
  article.layout.right .content {
    grid-template-columns: auto 10em;
  }
  article.layout.left .content {
    grid-template-columns: 10em auto;
  }
  article.sports-betting {
    width: 80%;
    margin: 0 auto;
  }
  article.sports-betting .sports-betting-slider {
    padding: 2em 5em;
  }
}
@media only screen and (min-width: 1540px) {
  header .banner-container p {
    bottom: 3.6em;
    left: 5.5em;
    max-width: 31%;
    font-size: 3.3em;
  }
}

/*# sourceMappingURL=styles.css.map */
